<h2 mat-dialog-title>Add New Questions</h2>
<mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Question type</mat-label>
        <mat-select [(ngModel)]="question.type">
          <mat-option *ngFor="let q of questionTypes" [value]="q.value">
            {{ q.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Type Question Here</mat-label>
        <input matInput type="text" [(ngModel)]="question.text" />
      </mat-form-field>
    </div>

    <div *ngIf="question.type === 'select'">
      <div *ngFor="let answerOption of question.selectOptions">
        <mat-form-field>
          <mat-label>Add Answer Option</mat-label>
          <input matInput [(ngModel)]="answerOption.value" type="text" />
        </mat-form-field>
      </div>

      <button (click)="addAnswer(question)" mat-button>
        + Add another answer
      </button>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button [mat-dialog-close]="question" cdkFocusInitial mat-button>
    Submit
  </button>
</mat-dialog-actions>
