<div [style.width.px]="900" [formGroup]="form">
  <div *ngFor="let question of questions" >
    {{ question | json }}
    <h2>{{ question.text }}*</h2>

    <mat-form-field
      appearance="fill"
      [style.width.%]="100"
      *ngIf="question.type === 'text'"
    >
      <mat-label>Your text goes here</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="50"
        [formControlName]="question.id"
      ></textarea>
    </mat-form-field>

    <section
      class="example-section"
      *ngIf="question.type === 'select'"

    >
      <h4>Select your toppings:</h4>
      <p *ngFor="let op of question.selectOptions"><mat-checkbox [formControlName]="question.id + '|' + op.id">{{op.value}}</mat-checkbox></p>
    </section>
  </div>
  <button mat-button (click)="openDialog()">Add New Question</button>
  <a routerLink="/form/answers" routerLinkActive="active">Answers</a>
</div>
