<div [style.width.px]="900">
  <div *ngFor="let question of questions">
    {{ question | json }}
    <h2>{{ question.text }}*</h2>

    <div *ngIf="question.type === 'text'">
      {{answersService.getAnswer(question).text}}
    </div>


  </div>
  <a routerLink="/form/builder" routerLinkActive="active">Builder</a>
</div>
